.amp-ca-banner {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  min-width: 400px;
  * {
    margin: 0;
    padding: 0;
  }

  .amp-ca-banner-info {
    font-size: 22px;
    text-align: center;
    background:#fff;
    color:#000;
    padding:15px;
    min-width:200px;
  }

  .amp-ca-banner-pic {
    max-width: 100%;
    display: block;
    img {
      width: 100%;
    }
  }

  .amp-ca-banner-img {
    width: 100%;
    display: block;
  }

  .amp-ca-banner-info-wrap {
    color: #fff;
    width: 33.3%;
    height: 100%;
    position: absolute;
    top: 0;
    white-space: normal;

    &[data-align='left'] {
      left: 65px;
    }

    &[data-align='right'] {
      right: 65px;
    }

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -1em; /* Adjusts for spacing */
    }
  }

  .amp-ca-banner-info {
    display: inline-block;
    vertical-align: middle;
  }

  .amp-ca-banner-header {
    font-size: 32px;
  }

  .amp-ca-banner-description, .amp-ca-banner-subheader {
    font-size: 16px;
    margin-top: 15px;
  }

  .amp-ca-banner-button {
    font-size: 20px;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    padding: 17px 15px;
    background: #fff;
    text-decoration: none;
    font-weight: bold;
    box-sizing: border-box;
    &.black {
      background: #000;
      color: #fff;
    }
    &.white {
      background: #fff;
      color: #000;
    }
  }

}








