.amp-ca-image {
  min-width: 0;
}

.amp-ca-card-title {
  font-size: 2em;
  text-align: center;
}

.amp-ca-card-list {
  min-width: 400px;
  margin-top: 20px;

  .amp-ca-card-list-wrap {
    font-size: 0;
    margin-top: 20px;
    margin-left: -50px;
  }

  .amp-ca-card {
    display: inline-block;
    vertical-align: top;
  }

  .amp-ca-card-wrap {
    margin: 0 0 50px 50px;
    .amp-ca-card-img {
      max-height: 250px;
    }
  }

  &.amp-ca-cards-hero {
    .amp-ca-card-wrap{
      margin:0 0 50px 0;
    }

    .amp-ca-card {
      float: right;
      width:30%;

      &.amp-ca-card-1 {
        float: left;
        width: 70%;

        .amp-ca-card-wrap{
          margin-right:20px;
        }
      }
    }
  }
}

.amp-ca-prod-5-rows {
  .amp-ca-card {
    width: 20%;
  }
}

.amp-ca-prod-4-rows {
  .amp-ca-card {
    width: 25%;
  }
}

.amp-ca-prod-3-rows {
  .amp-ca-card {
    width: 33.33%;
  }
}

.amp-ca-prod-2-rows {
  .amp-ca-card {
    width: 50%;
  }
}

.amp-ca-prod-1-rows {
  .amp-ca-card {
    width: 100%;
  }
}