@media screen and (max-width: 845px) {
  .amp-ca-promo-banner {
    .amp-ca-promo-block {
      width: 50%;
    }

    .amp-ca-2 {
      display: none;
    }
    .amp-ca-3 {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
}