.amp-ca-card {

  width: 100%;
  display: inline-block;
  vertical-align: top;
  font-family: Arial, Helvetica, sans-serif;

  * {
    margin: 0;
    padding: 0;
  }

  .amp-ca-card-text-wrap {
    margin-top: 10px;
    text-align: center;
  }

  .amp-ca-card-name {
    font-size: 21px;
    color: #000;
    margin-bottom: 5px;
  }
  .amp-ca-card-description {
    color: #8F8F8F;
    display: inline-block;
  }
  .amp-ca-card-link {
    color: #8F8F8F;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}